header{

    background-color: aquamarine;
}

footer{

    background-color: aquamarine;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th{
    border: solid gray 1px;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #dddddd;

}
header p{
    color: black;
}
footer > p{
    color: blue;
}


/* sibling selector is to select all the tags that are in line */

footer ~ p{
    color: green;
}

footer > p::first-letter {
    font-size: 200%;
    color: #8A2BE2;
  }

tr:hover{
    background-color: pink;
}


img{
    height: 15%;
    width: 15%;
}
/* # is for id

The basic rule that you need to keep in mind while using classes and ids in CSS is that, id is used for single elements that appear on the page for only once (e.g. header, footer, menu), whereas class is used for single or multiple elements that appear on the page for once or more than once (e.g. paragraphs, links, buttons, input boxes). 
*/

 /* decender and child selector are different 
child is with parent child
decender is  */


/*  CSS selectors into five categories:

Simple selectors (select elements based on name, id, class)
Combinator selectors (select elements based on a specific relationship between them)
Pseudo-class selectors (select elements based on a certain state)
Pseudo-elements selectors (select and style a part of an element)
Attribute selectors (select elements based on an attribute or attribute value)
*/
